[Desktop Entry]
Name=IP Frontend
Comment=IP Frontend
Type=Application
Encoding=UTF-8
Categories=System;Utility;
Exec=/usr/local/share/ip/ip
Icon=/usr/local/share/ip/ip-circle.png
Path=/usr/local/share/ip
Terminal=false
